@import "sprite";

.header {
	height: 112px;
}
.header__logo {
	width: 203px;
    margin-top: 36px;
    .logo__img {
	    width: 36px;
        height: 36px;
        display: inline-block;
        .logo__img--squad {
	        width: 18px;
            height: 18px;
            display: inline-block;
            background-position: center center;
            background-size: contain;
        }
        .logo__img--squad1 {
            background: url(../img/background/squad1.png);
        }
        .logo__img--squad2 {
            background: url(../img/background/squad2.png);
        }
        .logo__img--squad3 {
            background: url(../img/background/squad3.png);
        }
        .logo__img--squad4 {
            background: url(../img/background/squad4.png);
        }
        .logo__img--setting {

        }
    }
    .logo__header {
	    font-size: 30px;
        line-height: 20px;
        color: #434343;
    }
}
.header__socials {
	width: 145px;
    float: right;
    .socials__item {
	    display: inline-block;
    }
    .socials__item--facebook {
        @include sprite($facebook);
    }
    .socials__item--twitter {
        @include sprite($twitter);
    }
    .socials__item--rss {
        @include sprite($rss);
    }
    .socials__item--linkedin {
        @include sprite($linkedin);
    }
    .socials__item--skype {
        @include sprite($skype);
    }
}
