.icon4 {
    background: url(../sprite/facebook.png);
}
.icon2 {
    background: url(../sprite/twitter.png);
}
.rss {
    background: url(../sprite/rss.png);
}
.ld {
    background: url(../sprite/linkedin.png);
}
.skype {
    background: url(../sprite/skype.png);
}
